body {
  /* border: 2px solid red; */
  /* text-align: center; */
}
.container2 {
    padding-inline: 150px 50px;
    /* border: 2px solid red; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    /* margin: 0 auto; */
    /* text-align: center; */
    /* margin-left: 200px; */
}
.Static-dash {
  /* border: 2px solid red; */
  /* margin-left: 500px; */
  margin-top: 50px;
}
.people {
  text-align: center;
  margin: 0 auto;
  margin-left: 200px;
}



